body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    max-width: 1024px;
    margin: 0 auto;
}

.grid {
    font-size: 2 rem;
    font-weight: 800px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: 4 1fr;
}

.grid-item-1 {
    grid-column: 1/4;
    grid-row: 1/8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.grid-item-2 {
    grid-column: 4/6;
    grid-row: 1/7;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.grid-item-3 {
    grid-area: 9/11 1/11;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-4 {
    grid-area: 1/4 1/8;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-5 {
    grid-area: 4/6 8/15;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-6 {
    grid-area: 9/11 12/18;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-7 {
    grid-area: 1/4 15/22;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-8 {
    grid-area: 4/6 15/23;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-9 {
    grid-area: 9/11 19/27;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.grid-item-10 {
    grid-area: 1/4 25/33;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-11 {
    grid-area: 4/6 23/32;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item-12 {
    grid-area: 9/11/28/33;
    width: 100%;
    height: 100%;
    overflow: hidden;
}