body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 20px;
  font-family: "Mulish", Courier, monospace;
}

.container-first-links {
  color: black;
  font-size: 18px;
  font-family: "Mulish", Courier, monospace;
  display: inline-block;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.container-second-links {
  color: black;
  font-size: 18px;
  font-family: "Mulish", Courier, monospace;
  display: inline-block;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

h3 {
  text-align: left;
  font-size: 20px;
  font-family: "Mulish", Courier, monospace;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Design {
  font-family: "Mulish", Courier, monospace;
  text-align: center;
}

.header-links {
  color: #000;
  text-decoration: none;
  font-family: "Mulish", Courier, monospace;
}

.Design {
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: "Mulish", Courier, monospace;
}

h6 {
  text-align: center;
  font-size: 20px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", Courier, monospace;
}

.awardcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 5rem 4, 1fr;
  grid-template-rows: repeat 4, 1fr;
  -ms-grid-columns: 3fr 5rem 2fr 5rem 2fr 5rem 1fr;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  width: 90%;
  gap: 5rem;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.text1 {
  grid-row: "";
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.text2 {
  grid-row: "";
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.text3 {
  grid-row: "";
  text-align: center;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text4 {
  grid-row: "";
  text-align: center;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text5 {
  grid-row: "";
  text-align: center;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text6 {
  grid-row: "";
  text-align: center;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.text7 {
  grid-row: "";
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  font-size: 16px;
}

.text8 {
  grid-row: "";
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text9 {
  grid-row: "";
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text10 {
  grid-row: "";
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
}

.text11 {
  grid-row: "";
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text12 {
  grid-row: "";
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text13 {
  grid-row: "";
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.text14 {
  grid-row: "";
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
  -ms-grid-column-span: 0;
  grid-column-end: 8;
}

.footer-a {
  font-family: "Mulish", Courier, monospace;
  text-align: left;
}

.footer-b {
  text-align: right;
}

.footer-links {
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Mulish", Courier, monospace;
  text-align: right;
}

.project {
  font-family: "Mulish", Courier, monospace;
  text-align: right;
  color: grey;
  text-align: right;
}

.Portfolio {
  font-family: "Mulish", Courier, monospace;
  text-align: right;
}